{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: matevoux_finance
 * Generated on: Sat, 17 Mar 18 14:17:34 +0100
 */
#}
{{ attach_library('matevoux_finance/matevoux_finance.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
