
{% for item in items %}
{% if item.content["#title"]|length %}
<div class="videosFinance">
<iframe class="videosFinance" src="https://www.youtube.com/embed/{{item.content["#title"] }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
{% endif %}
{% endfor %}
